<div class="content">
  <h2>Welcome back. Here's your business at a glance</h2>
  <h1>Today</h1>
  <div class="cards">
    <div class="sales">
     <div>
      <div>Gross sales</div>
      <div class="today">No sales yet today</div>
     </div>
     <div>
      <div>Transactions</div>
      <div class="today"> No sales yet today</div>
     </div>
    </div>
    <div class="payment-types for-sale">
      <div>Payment types</div>
      <div class="today"> No sales yet today</div>
    </div>
    <div class="top-items for-sale">
      <div>Top items by sales</div>
      <div class="today">No item sales today</div>
    </div>
  </div>
</div>